#camada1{
            position: absolute; /* Componente absoluto que esta sobreposto รก pagina. A serquilha "#" serve para diferenciar uma id de uma classe*/
            width: 150px;
            height: 100px;
            background-color: burlywood;
            border: 5px solid blueviolet;
            text-align: center;
            top: 200px;
            left: 200px;
            z-index: 1;
        }
        #camada2{
            position: absolute;
            width: 250px;
            height: 200px;
            background-color: cadetblue;
            border: 5px solid yellow;
            text-align: center;
            top: 250px;
            left: 250px;
            z-index: 2;
        }
        #camada3{
            position: absolute;
            width: 350px;
            height: 300px;
            background-color: pink;
            border: 5px solid lavender;
            text-align: center;
            top: 300px;
            left: 300px;
            z-index: 3;
        }
        #camada4{
            position: absolute;
            top: 550px;
            left: 550px;
            z-index: 4;
        }