*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
#fundo{
    position: relative;
    width: 900px;
    height: 800px;
    background-color: blue;
    margin: auto;
    margin-top: 15px;
}