*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
#fundo{
    position: relative;
    width: 1000px;
    height: 640px;
    background-color: aqua;
    margin: auto;
    margin-top: 10px;
}
#camada_azul{
    position: relative;
    width: 200px;
    height: 130px;
    background-color: blue;
    text-align: center;
    float: left;
}
#camada_vermelha{
    position: relative;
    width: 800px;
    height: 130px;
    background-color: red;
    text-align: center;
    float: left;
}
#camada_verde{
    position: relative;
    width: 1000px;
    height: 45px;
    background-color:chartreuse;
    text-align: center;
    clear: left;    
}
#camada_amarela{
    position: relative;
    width: 1000px;
    height: 420px;
    background-color:yellow;
    text-align: center;
    border: 10px solid red;
}
#camada_cinza{
    position: relative;
    width: 1000px;
    height: 45px;
    background-color:grey;
    text-align: center;
}