*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
#fundo{
    position: relative;
    width: 800px;
    height: 750px;
    background-color: aquamarine;
    margin: auto; /* Alinha o componente ao centro HORIZONTALMENTE*/
    margin-top: 30px;
}
#camada1{
    position: relative;
    width: 300px;
    height: 380px;
    background-color: yellow;
    border: 5px solid red;
    text-align: center;
    padding: 10px; /* Espaço para dentro da área, em relação a borda e o conteúdo */
    float: left;
}
#camada2{
    position: relative;
    width: 300px;
    height: 380px;
    background-color:chartreuse;
    border: 5px solid green;
    text-align: center;
    padding: 10px; /* Espaço para dentro da área, em relação a borda e o conteúdo */
    float: left;
}
#camada3{
    position: relative;
    width: 300px;
    height: 380px;
    background-color:turquoise;
    border: 5px solid blue;
    text-align: center;
    padding: 10px; /* Espaço para dentro da área, em relação a borda e o conteúdo */
    clear: left;
}
#camada_absoluta{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    top: 150px;
    left: 200px;
    z-index: 2;
}